<mat-card>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="First Name">
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="Last Name">
    </mat-form-field>
    <br />
    <mat-form-field>
      <input type="email" matInput placeholder="Email">
    </mat-form-field>
    <br />
    <mat-form-field>
      <input type="password" matInput placeholder="Password">
    </mat-form-field>
    <br />
    <mat-form-field>
      <input type="password" matInput placeholder="Confirm Password">
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary">Register</button>
  </mat-card-content>
</mat-card>